/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

/* General Styles */
body {
  font-family: "Inter", sans-serif;
  text-align: center;
  height: 100vh;
}

.primary-header,
footer {
  position: fixed;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 1em 0;
  background-color: hsl(300, 59%, 94%);
  font-size: 1.5rem;
}

/* Header */
.primary-header {
  top: 0;
}

.logo {
  color: hsl(0, 0%, 0%);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding-top: 2em;
}

.color-scheme-generator,
.btn {
  padding: 1em;
}

.color-scheme-generator {
  flex-shrink: 0;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  gap: 0.8em;
}

.seed-color {
  width: 45px;
}

.color-scheme-generator,
.seed-color,
.scheme-mode,
.btn,
.container {
  border: 1px solid hsl(0, 3%, 79%);
  border-radius: 3px;
}

.seed-color:hover,
.seed-color:focus,
.seed-color:active,
.scheme-mode:hover,
.scheme-mode:focus,
.scheme-mode:active,
.btn:hover,
.btn:focus,
.btn:active {
  background-color: hsl(0, 8%, 88%);
  cursor: pointer;
}

.scheme-mode {
  padding: 0.5em;
  min-width: 80px;
  width: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: hsl(0, 0%, 100%);
}

.color-scheme-output {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.color-wrapper,
.seed-color {
  height: 100%;
}

.color-wrapper {
  display: flex;
  flex-direction: column;
}

.color-block {
  height: 95%;
}

.color-block:hover,
.color-block:focus {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
  transform: scale(1.02);
  transition: all 0.2s ease;
  cursor: pointer;
}

.color-block:active,
.color-code:active {
  transform: scale(1);
}

.color-code {
  padding: 1em 0;
  transition: color 0.2s ease;
  cursor: pointer;
}

/* Footer */
footer {
  bottom: 0;
}

/* Utility Classes */
.container {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 95%;
  max-width: 1000px;
  margin: 2em 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
