/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

/* General Styles */
body {
  font-family: "Inter", sans-serif;
}

/* Header */
.primary-header {
  padding: 1em;
  background-color: hsl(300, 59%, 94%);
  text-align: center;
}

.logo {
  font-size: 1.5rem;
  color: hsl(0, 0%, 0%);
}

/* Main */
main {
  padding: 2em;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Utility Classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
